<html>
    <head>
        <title>For test purpose</title>
    </head>
    <body>
        <form action="/experiment/set_color" method='get'>
        Set favorite color:<input type="test" name="fav_color">
        <input type="submit" value="Submit">
        </form>
        <form action="/experiment/show_color" method='get'>
        Show favorite color:
        <input type="submit" value="Show">
        </form>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </body>
</html>